---
- block:
  - name: Get samba-ad-server container information
    containers.podman.podman_container_info:
      name: samba-ad-server
    register: samba_ad_container

  - name: Check for running container
    fail:
      msg: "Samba AD Server Container not running"
    when: samba_ad_container['containers'][0] is not defined

  - name: Get samba-ad-server container ip address
    ansible.builtin.set_fact:
      samba_ad_container_ipaddr: "{{ samba_ad_container['containers'][0]['NetworkSettings']['Networks']['podman_utils']['IPAddress'] }}"

  - name: Check for samba_ad_container_ipaddr
    ansible.builtin.fail:
      msg: "samba_ad_container_ipaddr not set"
    when: samba_ad_container_ipaddr is not defined

  delegate_to: "{{ groups['ceph_cluster_bootstrap_host'][0] }}"

- name: Set route to AD container
  block:
  - ansible.builtin.dnf:
      name: net-tools
      state: present
  - ansible.builtin.shell: "route add -net {{ PODMAN_UTILS_SUBNET }} gw {{ GW }}"
    ignore_errors: true
    vars:
      PODMAN_UTILS_SUBNET: "10.90.0.0/24"
      GW: "{{ groups['ceph_cluster_bootstrap_host'][0] }}"
  when: inventory_hostname in groups['ceph_cluster_other_hosts']

- name: Build /etc/krb5.conf
  ansible.builtin.template:
    src: krb5_conf.j2
    dest: /etc/krb5.conf
    owner: root
    group: root
    mode: '0644'
  vars:
    AD_SERVER: "{{ samba_ad_container_ipaddr }}"

- name: install krb5-workstation on krb5 clients
  ansible.builtin.dnf:
    name: krb5-workstation
    state: present
