---
- block:
  - name: Get samba-ad-server container information
    ansible.builtin.include_role:
      name: get_container_ip
      public: yes
    vars:
      CONTAINER_NAME: "samba-ad-server"

  - ansible.builtin.set_fact:
      samba_ad_container_ipaddr: "{{ CONTAINER_IPADDR }}"

  delegate_to: "{{ groups['ceph_cluster_bootstrap_host'][0] }}"

- name: Set route to AD container
  block:
  - ansible.builtin.dnf:
      name: net-tools
      state: present
  - ansible.builtin.shell: "route add -net {{ PODMAN_UTILS_SUBNET }} gw {{ GW }}"
    ignore_errors: true
    vars:
      PODMAN_UTILS_SUBNET: "10.90.0.0/24"
      GW: "{{ groups['ceph_cluster_bootstrap_host'][0] }}"
  when: inventory_hostname in groups['ceph_cluster_other_hosts']

- name: Build /etc/krb5.conf
  ansible.builtin.template:
    src: krb5_conf.j2
    dest: /etc/krb5.conf
    owner: root
    group: root
    mode: '0644'
  vars:
    AD_SERVER: "{{ samba_ad_container_ipaddr }}"

- name: install krb5-workstation on krb5 clients
  ansible.builtin.dnf:
    name: krb5-workstation
    state: present
