Host mycephfs??
	IdentityFile ./ssh_key
	PasswordAuthentication no
	UserKnownHostsFile /dev/null
	StrictHostKeyChecking no
	IdentitiesOnly yes
	User root

Host mycephfs11
	Hostname 192.168.145.11

Host mycephfs12
	Hostname 192.168.145.12

Host mycephfs13
	Hostname 192.168.145.13
