---
- name: Create podman_utils network if it doesn't exist
  ansible.builtin.include_role:
    name: podman_utils_network

# podman run --detach --rm --name samba-ad-server --cap-add=SYS_ADMIN --network=podman_utils quay.io/samba.org/samba-ad-server:latest
- name: Start samba-ad-server pod
  containers.podman.podman_container:
    name: samba-ad-server
    image: quay.io/samba.org/samba-ad-server:latest
    state: started
    cap_add:
      - "SYS_ADMIN"
    detach: true
    rm: true
    network:
    - podman_utils
  register: samba_ad_container

- name: Get AD Container ip address
  ansible.builtin.set_fact:
    samba_ad_container_ipaddr: "{{ samba_ad_container['container']['NetworkSettings']['IPAddress'] }}"